<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- <link
      href="https://cdn.bootcss.com/element-ui/2.8.2/theme-chalk/index.css "
      rel="stylesheet"
    /> -->
    <script src="https://cdn.bootcss.com/vue/2.5.9/vue.js "></script>
    <!-- <script src="https://cdn.bootcss.com/element-ui/2.8.2/index.js "></script> -->
    <script src="https://cdn.bootcss.com/Mock.js/1.0.1-beta3/mock.js "></script>
    <script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js "></script>
</head>
<style>
    #app,
    body,
    html {
        height: 100%;
    }
</style>

<body>
    添加2个 点击更改value 删除更改的拿一个
    <div id="app">
        <div>
            <!-- <div v-for="(item,index) in items" :key='item.id'> -->
            <div v-for="(item,index) in items" :key='index'>
                <children @remove='remove' :id='item.id' :index="index"></children>
            </div>
            <button @click='add'>add</button>
        </div>
    </div>
    <script>
        let children = Vue.extend(
            {
                name: "children",
                template: `
                        <div>
                            <div @click='value=!value'>{{value}}</div>
                            <button @click='del'>删除</button>
                         </div>
                `,
                props: {
                    index: {},
                    id: {}
                },
                data() {
                    return {
                        value: false
                    }
                },
                methods: {
                    del() {

                        this.$emit("remove", this.index)


                    }
                }

            })


        new Vue({
            el: "#app",
            data: {
                items: [
                    { id: 1 }
                ],
                id: 1
            },
            computed: {},
            components: {
                children
            },
            methods: {
                add() {
                    this.items.push({
                        id: this.id++
                    })
                },
                remove(index) {
                    this.items.splice(index, 1)
                }
            },
            mounted() {

            }
        });
    </script>
</body>

</html>