html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background:blue;
  display: flex;
 border:10px solid yellow;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color:red;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
div{

}